header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.6rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    padding: 3rem;
}

header.scroll{
    background-color: #0e081db7;
}

header > div {
    max-width: 60rem;
    margin: auto;
}


.logo h2 {
    color: var(--primary-font);
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo-lg,
.logo-sm {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 520px) {
    .logo-lg {
        display: none !important;
    }

    .logo-sm {
        display: block !important;
    }

    .logo{
        margin: 0px !important;
    }
    .nav-links a{
        margin: 10px !important;
    }
    .nav-links a:nth-last-child(){
        margin: 10px 0px 10px 10px !important;
    }
}

.logo-lg {
    display: block;
}

.logo-sm {
    display: none;
}

.logo span {
    color: #431caf;
}

.logo {
    margin: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
}

.nav-links a {
    margin: 20px;
    text-decoration: none;
    color: var(--primary-font);
    font-size: 1.8rem;
}

.nav-links a:hover {
    color: #41227e;
}