@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
:root {
  font-family: "Quicksand", sans-serif;
  --primary-color: #371f76;
  --primary-font: #e7d9eb;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s linear;
}


body{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1280' height='720' preserveAspectRatio='none' viewBox='0 0 1280 720'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1280' height='720' x='0' y='0' fill='rgba(13%2c 5%2c 33%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c441.82C80.496%2c430.588%2c130.633%2c353.601%2c199.135%2c309.86C267.902%2c265.95%2c355.679%2c250.404%2c403.409%2c184.231C455.37%2c112.192%2c481.98%2c20.411%2c471.534%2c-67.796C460.978%2c-156.931%2c413.598%2c-240.739%2c346.075%2c-299.876C282.619%2c-355.451%2c191.381%2c-353.099%2c112.29%2c-382.423C25.618%2c-414.557%2c-51.907%2c-504.819%2c-141.087%2c-480.497C-230.052%2c-456.233%2c-258.911%2c-345.13%2c-308.801%2c-267.578C-351.602%2c-201.045%2c-390.618%2c-135.392%2c-412.081%2c-59.248C-436.287%2c26.627%2c-474.401%2c118.664%2c-440.991%2c201.394C-407.335%2c284.735%2c-317.281%2c327.884%2c-238.367%2c370.907C-164.079%2c411.408%2c-83.799%2c453.513%2c0%2c441.82' fill='%23080316'%3e%3c/path%3e%3cpath d='M1280 1125.421C1356.494 1116.13 1431.295 1097.914 1495.229 1054.902 1558.28 1012.4839999999999 1608.253 953.443 1638.9569999999999 883.9300000000001 1669.415 814.974 1669.022 739.619 1667.781 664.246 1666.374 578.769 1679.695 486.078 1631.246 415.643 1581.367 343.129 1493.733 303.36 1407.484 285.829 1325.051 269.074 1239.474 286.099 1162.6680000000001 320.403 1092.114 351.915 1051.991 421.494 992.7239999999999 471.074 919.121 532.646 806.505 557.356 772.258 646.998 737.289 738.531 769.514 845.718 816.81 931.532 862.429 1014.304 941.1469999999999 1075.116 1028.328 1111.6100000000001 1107.431 1144.722 1194.872 1135.76 1280 1125.421' fill='%2312072d'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1280' height='720' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
}