@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
:root {
  --primary-color: #371f76;
  --primary-font: #fbf7fc;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.1s linear;
  font-family: "Teachers", sans-serif;
}


body{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1720' height='1080' preserveAspectRatio='none' viewBox='0 0 1720 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1141%26quot%3b)' fill='none'%3e%3crect width='1720' height='1080' x='0' y='0' fill='rgba(27%2c 16%2c 49%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c856.058C159.16%2c868.885%2c318.306%2c784.019%2c431.448%2c671.346C535.612%2c567.614%2c523.491%2c400.574%2c589.352%2c269.148C658.761%2c130.641%2c831.478%2c35.898%2c827.499%2c-118.976C823.525%2c-273.66%2c698.354%2c-407.642%2c569.755%2c-493.695C453.702%2c-571.353%2c296.074%2c-513.845%2c165.087%2c-562.235C19.036%2c-616.19%2c-76.831%2c-803.59%2c-231.922%2c-789.855C-384.408%2c-776.35%2c-502.989%2c-632.775%2c-573.377%2c-496.834C-637.785%2c-372.442%2c-574.299%2c-224.071%2c-596.488%2c-85.762C-619.216%2c55.906%2c-745.99%2c184.418%2c-704.719%2c321.834C-663.197%2c460.085%2c-503.993%2c518.026%2c-388.958%2c605.23C-263.475%2c700.354%2c-156.954%2c843.409%2c0%2c856.058' fill='%23120a20'%3e%3c/path%3e%3cpath d='M1720 1938.17C1877.7649999999999 1932.824 1998.045 1797.1660000000002 2108.281 1684.1770000000001 2200.8559999999998 1589.29 2262.084 1471.775 2299.195 1344.51 2332.4700000000003 1230.402 2299.448 1113.754 2309.1639999999998 995.2909999999999 2322.493 832.773 2463.706 650.682 2366.86 519.492 2272.527 391.70500000000004 2064.234 452.45000000000005 1905.451 448.40999999999997 1783.122 445.298 1670.514 481.83399999999995 1549.312 498.69100000000003 1402.458 519.116 1224.779 455.573 1117.569 557.991 1011.495 659.3240000000001 1060.203 836.97 1042.738 982.624 1025.746 1124.334 966.572 1267.575 1016.448 1401.301 1067.5520000000001 1538.32 1198.174 1622.363 1314.431 1711.077 1440.151 1807.012 1561.948 1943.5259999999998 1720 1938.17' fill='%23251642'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1141'%3e%3crect width='1720' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-position: top;
}

.container{
  margin: 15rem auto;
  display: flex;
  justify-content: space-between;
  max-width: 60rem;
}